/*GENERAL*/


@font-face {
    font-family: "Muli";
    src: url(../../Charte-graphique/assets/fonts/muli/Muli.ttf);
}

@font-face {
    font-family: "Neo";
    src: url(../../Charte-graphique/assets/fonts/NeoSans/NeoSansStdRegular.otf);
}

* {
    font-family: Muli;
}

p {
    font-size: 25px;
}

.textcoloract {
    color: #fa5716;
}

.textcolordev {
    color: #025CBB;
}


/*A-PROPOS*/


.about {
    margin: 0;
    min-height: 100vh;
    background-image: url(/assets/img/photovoltaic-system-g6548cd95f_1920.jpg);
}

.box-about {
    backdrop-filter: blur(2px);
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.637); 
    color: antiquewhite;
    padding: 50px;
}


/*FONDATEURS*/


.fondateurs {
   margin: 0; 
   min-height: 100vh;
}

.box-fondateurs {
    border-radius: 20px;
    color: antiquewhite;
    background-color: #fa5716;
}


.image-fondateurs img{
    transform: translate(25%, -25%);
    width: 50%;
}


/*ACTIVITES*/


.activites {
    margin: 0;
    min-height: 100vh;
    background-image: url(/assets/img/panneaux-solaires-photovoltaiques.jpg);
}

.box-activites {
    backdrop-filter: blur(2px);
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.637); 
    color: antiquewhite;
    padding: 30px;
}


/*R&D*/


.recherchedev {
   margin: 0; 
   min-height: 100vh;
}

.box-recherchedev {
    border-radius: 20px;
    background-color: #fa5716;
    color: antiquewhite;
}

.image-rd {
    width: 50%;
}


/*LOCALISATION*/


.title-localisation {
    background-color: #aaaaaa;
    text-align: center;
    border-radius: 20px;
}

.localisation {
    margin: 0;
    min-height: 100vh;
}
