@font-face {
	font-family: "Muli";
	src: url("../fonts/muli/Muli.ttf");
  }

  body,
  html {
	font-family: Muli, Arial, Helvetica, sans-serif
  }

.b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
  }
  
  .form-control-dark {
    color: #fff;
    background-color: var(--bs-dark);
    border-color: var(--bs-gray);
  }
  .form-control-dark:focus {
    color: #fff;
    background-color: var(--bs-dark);
    border-color: #fff;
    box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .25);
  }
  
  .bi {
    vertical-align: -.125em;
    fill: currentColor;
  }
  
  .text-small {
    font-size: 85%;
  }
  
  .dropdown-toggle {
    outline: 0;
  }

  .btn-outline-primary {
    color: #fa5716;
    border-color: #fa5716;
}

.btn-outline-primary:hover {
    color: #fff;
    background-color: #529E30;
    border-color: #529E30;
}

/*-------------------------------------------------------------- # Nav --------------------------------------------------------------*/
.nav li {
    /* position du link actif */
       position: relative;
   }

   .nav a:before {
    /* mise en forme du lien actif (soulignement vert) */
       content: "";
       position: absolute;
       width: 0;
       height: 2px;
       bottom: -4px;
       left: 7;
       background-color: #529E30;
       visibility: hidden;
       width: 0px;
       transition: all 0.3s ease-in-out 0s;
   }
   .nav a:hover:before, .nav li:hover > a:before, .nav .active:before {
    /* rend visible le trait actif (soulignement vert) */
       visibility: visible;
       width: 35px;
   }
   .nav a:hover, .nav .active, .nav .active:focus, .nav li:hover > a {
    /* sinon le lien devient bleu */    
       color: #fa5716;
   }