/*GENERAL*/

@font-face {
    font-family: "Muli";
    src: url(../../Charte-graphique/assets/fonts/muli/Muli.ttf);
}

@font-face {
    font-family: "Neo";
    src: url(../../Charte-graphique/assets/fonts/NeoSans/NeoSansStdRegular.otf);
}

* {
    font-family: Muli;
}

p {
    font-size: 25px;
}

.textcolorombriere {
    color: #fa5716;
}

/* CAROUSEL */

#carouselMain img {
    position: relative;
    z-index: -1;
    height: 50vh;
}

#carouselMain span{
    position: absolute;
    color: #fff;
    font-size: 2.5rem;
    text-align: left;
    top: 50%;
    left: 50%;
    /* si on veut une seul span mettre -50%,-50% sur le translate */
    transform: translate(-80%,-100%);
    padding: 0.5rem;
    border-radius:0.5rem;
    background-color: rgb(0,0,0,0.5);
    backdrop-filter: blur(2px);
}

#carouselMain span.second-span{
    transform: translate(-60%,-10%);
}

/*STRATEGIE DE DEVELOPPEMENT*/

.stratdev {
    margin: 0;
    margin-top: 20px;
    min-height: 100vh;
    background-image: url(/assets/img/panneaux4.webp);
}

.box-stratdev {
    padding: 30px;
    backdrop-filter: blur(2px);
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.637); 
    color: #fff;
}

/*INFORMATIONS PRODUITS*/

.infoproduit {
    margin: 0; 
    min-height: 100vh;
}

.box-infoproduit {
    padding: 30px;
    border-radius: 20px;
    background-color: #fa5716;
    color: #fff;
}

.image-infoproduit img{
    width: 75%;
}

/*PARTENARIAT*/

.partenariat {
    margin: 0; 
    min-height: 100vh;
}
 
 .box-partenariat {
    padding: 30px;
    border-radius: 20px;
    background-color: #fa5716;
    color: #fff;
}

 .image-one-partenariat img{
    transform: translate(-15%, 15%);
    width: 90%;
}
 
 .image-two-partenariat img{
    transform: translateY(-75%);
    width: 90%;
}
 
 .image-three-partenariat img{
    width: 90%;
}

/*OMBRIERES*/

.ombrieres {
    margin: 0;
    margin-top: 20px;
    min-height: 100vh;
    background-image: url(/assets/img/panneaux4.jpg);
}

.box-ombrieres {
    margin: 0;
    padding: 30px;
    border-radius: 20px;
    background-color: #fff; 
}

.ombrieres-service{
    padding: 10px;
    border: solid black 2px;
}

.ombrieres-service img{
    width: 50%;
}
