@font-face {
    font-family: "Muli";
    src: url(/Charte-graphique/assets/fonts/muli/Muli.ttf);
}

@font-face {
    font-family: "Neo";
    src: url(/Charte-graphique/assets/fonts/NeoSans/NeoSansStdRegular.otf);
}
/* HEADER */

/* RESET */
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
/* MAIN */
a{
    display: block;
    text-decoration: none;
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

div.flex img.icon{
    padding: 0 10px;
}

p{
    font-family: Muli, helvetica, sans-serif;
}

/* FOOTER */
