@font-face {
    font-family: "Muli";
    src: url(/Charte-graphique/assets/fonts/muli/Muli.ttf);
}

@font-face {
    font-family: "Neo";
    src: url(/Charte-graphique/assets/fonts/NeoSans/NeoSansStdRegular.otf);
}

a{
    display: block;
    text-decoration: none;
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

div.flex img.icon{
    padding: 0 10px;
}

p{
    font-family: Muli, tahoma, helvetica, sans-serif;
}