@font-face {
    font-family: "Muli";
    src: url(/Charte-graphique/assets/fonts/muli/Muli.ttf);
}

@font-face {
    font-family: "Neo";
    src: url(/Charte-graphique/assets/fonts/NeoSans/NeoSansStdRegular.otf);
}
/* HEADER */

/* RESET */
*{
    margin: 0;
    padding: 0;
    list-style: none;
}

a{
    text-decoration: none;
}

/* CAROUSEL */
#carouselMain img {
    position: relative;
    z-index: -1;
    height: 50vh;
}

#carouselMain span{
    position: absolute;
    color: #fff;
    font-size: 2.5rem;
    text-align: left;
    top: 50%;
    left: 50%;
    /* si on veut une seul span mettre -50%,-50% sur le translate */
    transform: translate(-80%,-100%);
    padding: 0.5rem;
    border-radius:0.5rem;
    background-color: rgb(0,0,0,0.5);
    backdrop-filter: blur(2px);
}

#carouselMain span.second-span{
    transform: translate(-60%,-10%);
}

/* CTA STD */
.cta-std{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 10px 25px;
    font-weight: 600;
    background-color: #529E30;
    padding: 15px;   
    border-radius: 5px 50px;
    opacity: .9;
}

.cta-std a{
    color: #fff;
    padding: 0.3rem;
}

.cta-std img{
    margin-left: 5px;
}

.cta-right{
    margin-left: 60%;
}

/* MAIN CONTENT */
section.container-fluid.row{
    margin: 1.5rem 0;
}

section h2{
    font-family: Neo, sans-serif;
}

section aside{
    font-family: Muli, sans-serif;
}

section div img{
    max-width: 100%;
}

.orange-box{
    background-color: #FA5716;
    border-radius: .5rem;
}

.orange-box aside, .orange-box h2{
    padding: .2rem 1rem;
}

.second-row{
    margin: auto;
}

img.logo{
    max-width: 9rem;
    max-height: 9rem;
}

.overlaping-box{
    transform: translateX(7%);
    z-index: -1;
}

.bgc-pict{
    height: 60vh;
    background-image: url(../img/photovoltaic-system-g6548cd95f_1920.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.second-bgc-pict{
    height: 60vh;
    background-image: url(../img/La-production-denergie-solaire-un-investissement-rentable.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.text-over-bgc-pict{
    width: 80%;
    background-color: #000;
    opacity: 0.8;
    border-radius: 1.5rem;
}

.text-over-bgc-pict h2, .text-over-bgc-pict p, .text-over-bgc-pict li{
    color: #fff;
    padding: 0.2rem 0.3rem;
}

#map-leaflet{
    width: 500px;
    height: 350px;
    background-color: blue;
    margin: 15px 0;
}

section div div .img-spe{
    max-height: 250px;
    max-width: 250px;
    padding: 50px;
}

.partner-row{
    justify-content: center;
}
/* FOOTER */